<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1b5026de3a.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <title>IMP</title>
  </head>
  <body>

    <!-- NAVIGATION -->
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <ul class="nav">
          <li class="nav-item">
            <a href="Home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="record" class="nav-link">Record</a>
          </li>
          <li class="nav-item">
            <a href="report" class="nav-link">Report</a>
          </li>
        </ul>
      </div>
    </div>
